.chat-bg {
  background-image: url("../../images/convo-bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.go-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--secondary-light);
  background-color: transparent;
  cursor: pointer;
  font-size: var(--h3-font);
  font-weight: 500;
}

.go-back-button:hover {
  color: var(--secondary);
}

.header {
  background-color: var(--primary);
  padding: 20px;
  color: white;
  text-align: center;
  font-size: var(--h3-font);
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.own-message {
  align-self: flex-end;
  background-color: var(--accent-light);
  border-radius: 15px 15px 0px 15px;
}

.other-message {
  align-self: flex-start;
  background-color: var(--secondary-light);
  border-radius: 15px 15px 15px 0px;
}

.user {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  color: var(--primary-dark);
}

.new-message-form {
  display: flex;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.new-message-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.new-message-input:focus {
  border-color: var(--primary);
}

.send-button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: var(--primary-dark);
}

.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.typing-indicator {
  font-style: italic;
  color: var(--primary);
  margin-bottom: 10px;
}

.user .hover-text {
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  color: var(--accent);
  border-radius: 5px;
  padding: 8px;
  bottom: 25px;
  left: 0;
  font-size: 0.8rem;
  white-space: nowrap;
}

.user:hover .hover-text {
  visibility: visible;
}

/* Customize the toast container */
/* .custom-toast-container {
  border: 2px (--primary-dark) solid;
}*/

/* Customize the appearance of individual toasts */
/* .custom-toast {
  border: 2px (--primary-dark) solid;
}  */

/* Custom progress bar */
.custom-toast-progress {
  background: var(--primary);
}
