.profile-background {
  background-image: url("../../images/convo-bg4.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vw;
  margin-top: 7vw;
  padding: 4vw 4vw;
  border-radius: 5px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  border: 2px var(--primary-dark) solid;
  background: linear-gradient(to right, var(--primary-dark) 35%, #fff 35%);
}

.profile-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.left-point {
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 10vh solid var(--primary-dark);
  position: absolute;
  top: 60%;
  left: 25.5%;
  transform: rotate(70deg);
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 80px;
  margin-bottom: 100px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  align-items: center;
}

.name-container h2 {
  margin-right: 10px;
  font-size: var(--h2-font);
}

.separator {
  width: 500px;
  height: 2px;
  background-color: var(--primary-dark);
  margin: 10px 0;
}

.bio-textarea {
  width: 500px;
  height: 280px;
  font-size: var(--h4-font);
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.bio-textarea:focus {
  border-color: var(--primary);
}

.bio-textarea[disabled] {
  border: none;
  background-color: transparent;
}

.save-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 1rem;
}

.save-button:hover {
  background-color: var(--primary-dark);
}

.cancel-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #e06773;
  color: #e06773;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-button:hover {
  background-color: #e06773;
  color: white;
}

.home-icon {
  cursor: pointer;
  font-size: var(--h2-font);
  color: var(--accent-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon:hover {
  color: var(--accent);
}

.edit-icon {
  cursor: pointer;
  color: var(--accent-light);
}

.edit-icon:hover {
  color: var(--accent);
}

.edit-buttons {
  display: none;
  margin-top: 10px;
}

.edit-buttons.visible {
  display: flex;
}

@media (max-width: 425px) {
  .profile-container {
    margin-top: 30vw;
  }
}

@media screen and (min-width: 430px) and (max-width: 1024px) {
  .profile-container {
    margin-top: 13vw;
  }
}

@media (max-width: 1024px) {
  .profile-container {
    background: none;
    background-color: #eeeeee;
    padding: 20px;
    margin-left: 0vw;
    background: linear-gradient(to top, var(--primary-dark) 53%, #fff 53%);
  }

  .profile-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-point {
    display: none;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .name-container {
    justify-content: center;
    text-align: center;
    color: #ccc;
  }

  .separator {
    width: 100%;
    background-color: #ccc;
  }

  .bio-textarea {
    width: 80vw;
    max-width: 600px;
    height: 150px;
    color: #ccc;
  }

  .save-button,
  .cancel-button {
    width: auto;
    margin: 0 5px;
    font-size: 0.8rem;
  }

  .edit-buttons {
    display: none;
    justify-content: center;
    width: auto;
    margin-top: 10px;
  }

  .edit-buttons.visible {
    display: flex;
  }
}

@media (max-width: 480px) {
  .name-container h2 {
    font-size: 1.5rem;
  }

  .bio-textarea {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  .profile-container {
    margin-left: 10vw;
    margin-top: 0vw;
  }

  .left-point {
    position: absolute;
    top: 60%;
    left: 33.5%;
    transform: rotate(70deg);
  }
}
