/* homePage.css */
.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-image: url('../../images/convo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room-label {
    text-align: center;
    font-size: var(--h3-font);
}
  
.room-name-input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
  
.enter-chat {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.enter-chat:hover {
    background-color: var(--primary-dark);
}

.previous-rooms ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    width: 600px;
  }
  
.previous-rooms li {
    padding: 20px;
    border-radius: 5px; 
    /* background-image: url('../../images/convo-bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
    margin-bottom: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    background-color: var(--accent);
}
  
.previous-rooms li:hover {
    opacity: 0.8; 
}
  