/* homePage.css */
.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 9%; 
    height: 100vh;
    background-image: url('../../images/convo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room-label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 50px;
}

.room-label {
    font-size: var(--h2-font);
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.room-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between input and button */
}

.room-name-input {
    padding: 15px;
    font-size: var(--h3-font);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 900px;
}

.enter-chat {
    padding: 15px 25px;
    font-size: var(--h3-font);
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.enter-chat:hover {
    background-color: var(--primary-dark);
}

.previous-rooms ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    width: 1000px;
  }
  
.previous-rooms li {
    padding: 20px;
    border-radius: 5px; 
    /* background-image: url('../../images/convo-bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
    margin-bottom: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    background-color: var(--accent-light);
    font-size: var(--h3-font);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent);
}
  
.previous-rooms li:hover {
    background-color: var(--accent);
}
  